* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Inter;
  background-color: #f9f9f9;
  padding: 20px 10px;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(to left, #6d6d8e, #000091, #6d6d8e);
  color: white;
  text-align: center;
  padding: 20px;
  border-radius: 20px;
}
footer p {
  font-size: 0.8rem;
  font-weight: 400;
  margin-bottom: 20px;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #c8c0c0;
  padding: 0px;
  gap: 0px;
  border-radius: 20px;
  margin-bottom: 20px;
}
.menu-links {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 100%; */
  padding: 20px;
}
.wrapper__links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
}
.wrapper__infos-img {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0px;
  padding: 30px;
  border-radius: 20px;
  margin: 0 auto;
  width: 300px;
  height: 320px;
  position: relative;
 
}
.wrapper__hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  background-color: rgb(237, 237, 237);
  padding: 20px;
  border-radius: 20px;
  margin-top: 50px;
  width: 100%;
}
.wrapper__call-mail {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 40px;
  margin-bottom: 30px;
}
.wrapper__fontAwesom {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
  margin-bottom: 40px;
}
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
nav a {
  padding: 8px 25px;
  /* border: 1px solid grey; */
  border-radius: 5px;
  color: rgb(15, 15, 15);
  background-color: rgb(255, 253, 253);
  text-decoration: none;
  font-size: 1rem;
  transition: 0.3s ease-in-out;
  font-weight: 600;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.324);
}
nav a:hover {
  background-color: #4caf50;
  color: white;
}
.slow-bounce {
  animation-duration: 2s; /* valeur par défaut : 1s */
}
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: rgb(2, 2, 84);
  padding: 20px;
  max-width: 1200px;
  border-radius: 20px;
  margin: 0 auto;
  height: 100%;
  margin-top: 40px;
  margin-bottom: 20px;
  /* background: linear-gradient(65deg, #0303b7, #1d1d32); */
  /* box-shadow: 0px 0px 10px grey; */
}

.hero h1 {
  font-size: 4rem;
  margin-top: 30px;
  font-weight: 900;
  letter-spacing: -2px;
}
.hero h1 span {
  font-size: 2rem;
}
.hero h2 {
  font-size: 2rem;
  margin-top: 20px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -0.6px;
  margin-bottom: 30px;
}
.hero h3 {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 24px;
  margin-top: 10px;
  letter-spacing: -0.6px;
}
.hero h4 {
  font-size: 1rem;
  font-weight: 600;
  line-height: 24px;
  margin-top: 0px;
}

.tel {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 1rem;
  background-color: green;
  padding: 20px 20px;
  border-radius: 5px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.467);
  margin-bottom: 30px;
  margin-top: 30px;
}
.tel:hover {
  background-color: #1c4a5b;
}

.border-fontawesom {
  border: 1px solid rgb(17, 17, 17);
  padding: 20px;
  border-radius: 8px;
}

.ants {
  width: auto;
  height: 90px;
  border-radius: 8px;
  margin-bottom: 0px;
  padding: 10px;
  border-radius: 20px;
}
.img-camera-hero {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  height: 300px;
  margin-top: 30px;
  margin-bottom: 30px;
  z-index: 2;
}
.CI-visuel {
  position: absolute;
  top: 20%;
  left: 100%;
  transform: translate(-50%, -50%);
  rotate: -10deg;
  width: auto;
  height: 200px;
  animation: moveUpDown 0.7s ease-in-out infinite;
  z-index: 1;
}
.circle-info-tarif {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  top: 80%;
  left: 64%;
  background-color: rgb(13, 181, 13);
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bolder;
  font-size: 2rem;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  rotate: -10deg;
}
.question {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
  gap: 20px;
  padding: 10px;
}

.question p {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 50px;
  text-align: left;
}

@keyframes moveUpDown {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  50% {
    transform: translate(-50%, -50%) rotate(-10deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
}
.cta-button {
  background: linear-gradient(65deg, #0303b7, #1d1d32);
  color: rgb(255, 255, 255);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.184);
}
.cta-button:hover {
  background-color: #45a049;
}
.photosI {
  width: auto;
  height: 320px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.visuel-public {
  width: auto;
  height: 150px;
  margin-bottom: 20px;
}
.ouest-lyonnais {
  width: auto;
  height: 200px;
  margin: 0px;
  margin: 20px;
}
.paiement {
  width: auto;
  height: 100px;
  margin-bottom: 30px;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: rgb(240, 240, 240);
  color: rgb(2, 2, 84);
  padding: 10px;
  max-width: 1200px;
  border-radius: 20px;
  margin: 0 auto;
  margin-bottom: 50px;
  height: 100%;
}
section p {
  font-size: 1rem;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  line-height: 1.7;
  font-weight: 500;
  width: 60%;
  letter-spacing: -0.6px;
}
section h3 {
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: -0.6px;
}
section h4 {
  font-size: 1rem;
  font-weight: 400;
  margin-top: 10px;
}

section h2 {
  font-size: 1.7rem;
  margin-bottom: 10px;
  margin-top: 50px;
  font-weight: 900;
  letter-spacing: -0.6px;
}

.section ul {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-bottom: 20px;
  margin-top: 20px;
}
.section li {
  list-style: none;
  padding: 20px 20px;
  text-align: center;
  font-size: 0.9rem;
  font-weight: 600;
  background-color: rgb(232, 232, 232);
  color: rgb(26, 25, 25);
  margin-bottom: 2px;
  border-radius: 5px;
}

.wrapper__a {
  display: flex;
  gap: 5px;
}
#contactForm {
  background-color: rgb(231, 228, 228);
  padding: 10px;
  border-radius: 10px;
  max-width: 70%;
  margin: 40px auto;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0px;
  width: 70%;
}
form h3 {
  margin-bottom: 30px;
}
label {
  align-self: flex-start;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
  width: 100%;
  padding: 10px;
  margin-top: 0px;
  border-radius: 4px;
  border: 1px solid #ccc;
}
textarea {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  margin-top: 5px;
}
.submit {
  background-color: #4caf50;
  color: white;
  padding: 10px 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  max-width: 30%;
}
.submit:hover {
  background-color: #1c7220;
}

#confirmationMessage {
  padding: 10px;
  background-color: #4caf50; /* Vert */
  color: rgb(255, 255, 255);
  border-radius: 5px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  width: 80%;
  max-width: 300px;
  margin: 20px auto;
  display: block; /* C'est caché au départ */
  opacity: 0; /* Pour l'animation */
  transform: translateY(20px); /* Déplacement vers le bas */
  transition: opacity 0.5s, transform 0.5s; /* Animation de l'opacité et du mouvement */
}

#confirmationMessage.show {
  display: block; /* Affichage du message */
  opacity: 1; /* Rendre visible */
  transform: translateY(0); /* Revenir à sa position normale */
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
}

.hamburger span {
  height: 5px;
  width: 35px;
  background: #0303b7;
  border-radius: 2px;
}

.X {
  display: none;
}
.img-old-personnage {
  height: 400px;
  width: auto;
  border-radius: 8px;
  margin-bottom: 50px;
  margin: 0 auto;
}















/* *************************** */
/* MEDIAS */
/* ****************************** */

@media screen and (max-width: 768px) {
  .wrapper__hero {
    background-color: rgb(237, 237, 237);
    padding: 20px;
    border-radius: 20px;
    margin-top: 50px;
    width: 100%;
  }
  header h3 {
    display: none;
  }
  header {
    height: 100%;
    gap: 0px;
  }
  .menu {
    background-color: rgb(203, 201, 201);
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
    justify-content: center;
  }
  .ants {
    width: auto;
    height: 100px;

    margin-bottom: 0px;
    border-radius: 20px;
  }

  .menu-links {
    display: none;
    flex-direction: column;
    background-color: #255670b4;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    position: absolute;
    top: 0px;
    left: 0;
    width: 300px;
    padding: 1rem;
  }

  .menu-links.active {
    display: flex;
    height: 100vh;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.908);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    z-index: 4;
  }

  .wrapper__links {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 50px;
    text-align: center;
    width: 100%;
  }
  .X.active {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    margin-right: 20px;
    border-radius: 50%;
    background-color: #b8bdc1;
    position: absolute;
    top: 2%;
    left: 80%;
    font-size: 1rem;
    color: white;
    z-index: 4;
  }
  .hamburger {
    display: flex;
  }
  footer {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    background: linear-gradient(65deg, #0303b7, #1d1d32);
  }
  .wrapper__a {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
  .hero {
    height: 100%;
    padding: 20px;
    gap: 10px;
  }
  .hero h1 {
    font-size: 3rem;
    margin-bottom: 10px;
  }

  .hero h2 {
    font-size: 1.2rem;
    font-weight: 900;
  }
  .hero h3 {
    font-size: 1rem;
    font-weight: 400;
  }
  .img-old-personnage {
    height: 300px;
    width: 100%;
    border-radius: 8px;
    margin-bottom: 50px;
    margin: 0 auto;
    object-fit: cover;
  }
  nav {
    flex-direction: column;
  }
  nav a {
    width: 100%;
    padding: 10px;
    text-align: center;
  }
  .submit {
    max-width: 90%;
    padding: 20px;
    text-align: center;
  }
  form {
    width: 95%;
  }
  #contactForm h2 {
    margin-bottom: 30px;
  }
  #contactForm {
    max-width: 100%;
  }

  .photosI {
    width: auto;
    height: 180px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .circle-info-tarif {
    display: none;
  }
  .img-camera-hero {
    width: auto;
    height: 200px;
    margin-bottom: 30px;
  }

  .CI-visuel {
    position: absolute;
    top: 30%;
    left: 90%;
    transform: translate(-50%, -50%);
    rotate: -10deg;
    width: auto;
    height: 120px;
    animation: moveUpDown 0.7s ease-in-out infinite;
    z-index: 1;
  }

ul {
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
}
.wrapper__fontAwesom {
  flex-direction: flex;
  gap: 4px;
  margin-bottom: 20px;
}
.wrapper__infos-img {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0px;
  padding: 30px;
  border-radius: 20px;
  margin: 0 auto;
  width: 200px;
  height: 320px;
  position: relative;

}
#formulaire p {
min-width: 90%;
}
}
